---
import Bench from "@islands/Bench";
import EnterButton from "@islands/EnterButton";
import Exhibition from "@islands/Exhibition";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex flex-col justify-center content-center h-screen relative">
      <h1 class="text-center text-8xl font-bold">Pixly</h1>
      <div class="flex-1">
        <Exhibition client:only="react" />
      </div>
    </div>
  </body>
</html>
