---
import Exhibition from "@islands/Exhibition";
import Test from "@islands/Test";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>3D Photo Exhibition</title>
  </head>
  <body>
    <div class="flex flex-col justify-center content-center h-screen">
      <!-- <h1 class="text-center text-8xl font-bold">Lensia</h1> -->
      <div class="flex-1 relative">
        <!-- <Exhibition client:only="react" /> -->
        <Test client:only="react" />
      </div>
    </div>
  </body>
</html>
